# Node.js dependencies
node_modules/
npm-debug.log*

# Python dependencies
__pycache__/
*.py[cod]
*.pyo

# macOS files
.DS_Store

# Logs
*.log

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Build files
dist/
build/
bin/
obj/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/

# Temporary files
*.tmp
*.swp
*.class
